<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="col-md-6">
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="70%">Name</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New User', new_user_path, method: :get %>
</div>
<p><%= paginate @users %></p>
