<p id="notice"><%= notice %></p>

<h1>News</h1>

<table>
<% @news_actions.each do |news_action| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td>
      <%= image_tag(news_action.image_url, class: 'list_image') %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= news_action.title %></dt>
        <dd><%= truncate(strip_tags(news_action.description), length: 80) %></dd>
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to 'Show', news_action %><br/>
      <%= link_to 'Edit', edit_news_action_path(news_action) %><br/>
      <%= link_to 'Destroy', news_action, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br>

<%= button_to 'Add News', new_news_action_path, method: :get %>
