<%= form_for(order, :html => {class: "form-horizontal center" }) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @order.errors.count,
        model: t('activerecord.models.order')) %>.</h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, t('.name'), class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
    <%= f.text_field :name, size: 40, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, t('.address_html'), class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
    <%= f.text_area :address, rows: 3, cols: 40, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, t('.email'), class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
    <%= f.email_field :email, size: 40, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pay_type, t('.pay_type'), class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
    <%= f.select(:pay_type, Order.pay_types.keys, {prompt: t('.pay_prompt_html')}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit t('.submit'), class: "btn btn-info" %>
    </div>
  </div>
<% end %>
