<h1><%= t('.news') %></h1>
<p> В процесі розробки </p>

<% cache @news_items do %>
  <% @news_items.each do |news_item| %>
    <% cache news_item do %>
      <div class="entry">
        <%= image_tag(news_item.image.url) if news_item.image_stored? %>
        <h3><%= news_item.title %></h3>
        <p><%= sanitize(news_item.description) %></p>
        <p><%= news_item.created_at.to_s(:my_datetime) %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
<p><%= paginate @news_items %></p>
