<%= form_for(news_item, :html => {class: "form-horizontal center" }) do |form| %>
  <% if news_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news_item.errors.count, "error") %> prohibited this news_item from being saved:</h2>

      <ul>
      <% news_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="form-group">
    <%= form.label :title, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
    <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
    <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :image, class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
    <%= image_tag(news_item.image.url, class: 'image') if news_item.image_stored? %>
    <%= form.file_field :image %>
    </div>
  </div>

  <% if news_item.image_stored? %>
  <div class="form-group">
    <%= form.label :remove_image, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= form.check_box :remove_image %>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
    <%= form.submit 'Add/Edit News', class: "btn btn-info" %>
    </div>
  </div>
</fieldset>

<% end %>
