<p id="notice"><%= notice %></p>

<h1>News</h1>

<table class="table">
<% @news_items.each do |news_item| %>
  <tr>

    <td>
      <%= image_tag(news_item.image.url, class: 'image') if news_item.image_stored?  %>
    </td>

    <td class="description">
      <dl>
        <dt><%= news_item.title %></dt>
        <dd><%= truncate(strip_tags(news_item.description), length: 170) %></dd>
        <dd><%= news_item.created_at.to_s(:my_datetime) %></dd>
      </dl>
    </td>

    <td class="actions">
      <%= link_to 'Show', news_item %><br/>
      <%= link_to 'Edit', edit_news_item_path(news_item) %><br/>
      <%= link_to 'Destroy', news_item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br>

<%= button_to 'Add News', new_news_item_path, method: :get, class: "btn btn-info" %>

<p><%= paginate @news_items %></p>
