<p id="notice"><%= notice %></p>

<h1>Carts</h1>

<table class="table">
  <thead>
    <tr>
      <th width="10%">Id</th>
      <th width="50%">Created</th>
      <th width="20%">Items</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= cart.created_at %></td>
        <td><%= cart.total_quantity %></td>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

