<h1>Order#received</h1>

<p>
  <%= @greeting %>
</p>

Dear Admin,

You have new order from <%= @order.name %>:

<p>
  <table>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.product.title %></td>
        <td><%= number_to_currency(item.product.price) %></td>
      </tr>
    <% end %>
  </table>     
</p>


