<%= form_for(category, :html => {class: "form-horizontal center" }) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>

  <div class="form-group">
    <%= form.label :image, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= image_tag(category.image.url, class: 'image') if category.image_stored? %>
    <%= form.file_field :image %>
    </div>
  </div>

  <% if category.image_stored? %>
  <div class="form-group">
    <%= form.label :remove_image, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= form.check_box :remove_image %>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <%= form.hidden_field :parent_id, value: @parent %>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <%= form.submit class: "btn btn-info" %>
    </div>
  </div>
  </fieldset>
<% end %>
