<p id="notice"><%= notice %></p>

<br>

<h1><%= @category.nil? ? 'Main categories' : @category.name %></h1>
<div class="col-md-6">
<table class="table">
<% @categories.each do |category| %>
<tr>
  <td width="5%"><%= image_tag(category.image.url, class: 'image_icon') if category.image_stored? %></td>
  <td><strong><%= link_to category.name, category_path(category) %></strong></td>
  <td width="5%"><%= link_to 'Edit', edit_category_path(category) %></td>
  <td width="5%"><%= link_to 'Destroy', category_path(category), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<p>
  <%= button_to('New category', new_category_path(@parent), method: :get, class: "btn btn-info") %>
  <%= link_to 'Back', @category.parent_id == 0 ? categories_path : category_path(@category.parent_id) unless @category.nil? %>
</p>
</div>
