<p id="notice"><%= notice %></p>

<p>
  <% @images.each do |i| %>
    <%= image_tag(i.image.url, height: 200) %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@product.category_id).name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
