<p id="notice"><%= notice %></p>

<h1><%= t('.title_html') %></h1>


<ul class="products clearfix">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
      	<li class="product-wrapper">
      		<%= link_to store_path(product), class: "product" do %>
          <div class="product-photo">
          	<%= image_tag(product.image.url) if product.image_stored? %>
          </div>
          <% end %>
      	</li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<p><%= paginate @products %></p>
