<p id="notice"><%= notice %></p>

<div id="columns">
	<div id="side">
		<ul class="nav nav-tabs nav-stacked">
			<% @categories.each do |category| %>
				<li class="nav-header"><%= category.name %></li>
				<% category.subcategories.each do |subcategory| %>
					<li><%= link_to subcategory.name, store_cat_path(subcategory) %></li>
				<% end %>
			<% end %>
		</ul>
	</div>

	<div id="products">
		<div class="product-head">
			<%= form_tag store_index_path, class: 'sort' do %>
				<div class="form-group">
				<%= label :sort, t('.sort') %>
				<%= select_tag('sort', options_for_select([[t('.title'), 'title'], [t('.price'), 'price'], [t('.date'), 'created_at']], params[:sort]), onchange: 'this.form.submit()') %>
				</div>
				<%= submit_tag 'submit' %>
				<%= javascript_tag "$('.sort input').hide()" %>
			<% end %>
			<div class="layout-buttons">
				<span class="glyphicon glyphicon-th"></span>
				<span class="glyphicon glyphicon-th-list disable"></span>
			</div>
		</div>
		<ul class="wrapper">
			<% cache @products do %>
		    <% @products.each do |product| %>
		      <% cache product do %>
		      	<li class="product-wrapper">
		          <div class="product">
		      		<%= link_to store_path(product) do %>
		            <div class="product-main">
		              <div class="product-photo">
		              	<%= image_tag(product.product_images.first.image.url) unless product.product_images.empty? %>
		              </div>
		              <div class="product-text">
		              	<h3><%= product.title %></h3>
		                <div class="description">
		                <%= sanitize(product.description) %>
		                </div>
		              </div>
		            </div>
		          <% end %>
		            <div class="product-details">
		              <div class="product-price">
		                <%= number_to_currency(product.price) %>
		              </div>
		              <div class="product-btn">
		              	<%= button_to t('.add_html'), line_items_path(product_id: product), remote: true, class: "btn btn-info" %>
		              </div>
		            </div>
		          </div>
		        </li>
		      <% end %>
		    <% end %>
		  <% end %>
		</ul>
		<div class="pg">
			<%= paginate @products %>
		</div>
	</div>
</div>

