<p id="notice"><%= notice %></p>

<p>
  <strong><%= @product.title %></strong>
</p>

<p>
  <%= image_tag(@product.image_url) %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize(@product.description) %>
</p>

<p>
  <strong>Price:</strong>
  <span class="price"><%= number_to_currency(@product.price) %></span>
</p>
<%= button_to t('.add_html'), line_items_path(product_id: @product), remote: true %>
