<p id="notice"><%= notice %></p>

<div id="columns">
	<div id="side">
		<h3>Categories:</h3>
			<ul class="nav nav-tabs nav-stacked">
				<% @categories.each do |category| %>
					<li class="nav-header"><%= category.name %></li>
					<% category.subcategories.each do |subcategory| %>
					<li><%= link_to subcategory.name, store_cat_path(subcategory) %></li>
					<% end %>
				<% end %>
			</ul>
	</div>

	<div id="products">
		<p>
		  <strong>Сторінка в процесі розробки</strong>
		</p>
<p>
  <strong><%= @product.title %></strong>
</p>

<div class="images">
  <% unless @images.empty? %>
    <% @images.each do |image| %>
      <div class="image">
        <%= link_to image.image.url, data: { lightbox: "product_images" } do %>
          <%= image_tag(image.image.url, height: 200) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<p>
  <%= sanitize(@product.description) %>
</p>

<p>
  <span class="price"><%= number_to_currency(@product.price) %></span>
</p>
<%= button_to t('.add_html'), line_items_path(product_id: @product), remote: true, class: "btn btn-info" %>

</div>
</div>
