<!DOCTYPE html>
<html>
  <head>
    <title>Online Store</title>
    <%= csrf_meta_tags %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="<%= controller.controller_name %>">


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to(image_tag('logo.jpg', alt: 'The Bookshelf', height: '50', width: '60'), store_index_path) %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><%= link_to t('.catalog'), store_index_path   %></li>
            <li><%= link_to t('.news'), news_path   %></li>
            <li><%= link_to t('.about'), about_path   %></li>
            <li><%= link_to t('.contact'), contacts_path   %></li>
            <%= form_tag search_path, method: :get, class: "navbar-form navbar-left" do %>
                <div class="form-group">
                <%= text_field_tag :search, params[:search], class: "form-control" %>
                <%= submit_tag t('.search'), name: nil, class: "btn btn-default" %>
                </div>
              <% end %>
          <% if session[:user_id] %>
            <li><%= link_to 'Orders',   orders_path   %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Categories', categories_path %></li>
            <li><%= link_to 'Add news', news_items_path   %></li>
            <li><%= link_to 'Users',    users_path    %></li>
            <li><%= link_to 'Carts',    carts_path    %></li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if session[:user_id] %>
              <%# <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> %>
              <%= link_to 'Logout', logout_path, method: :delete %>
            <% else %>
              <a data-toggle="modal" data-target="#cartModal">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 20px;"></span>
                <%= hidden_div_if(@cart.total_quantity == 0, id: 'korz', class: 'badge') do %>
                  <%= @cart.total_quantity %>
                <% end %>
              </a>
              <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" id="cart">
                      <%= render @cart %>
                    </div>
                  </div>
                </div>
              </div>  
            <% end %>
          </li>
          <li><%= link_to 'Uk', url_for( locale: 'uk' ) %></li>
          <li><%= link_to 'En', url_for( locale: 'en' ) %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="banner">
    <span class="title"><%= @page_title %></span>
  </div>

  <div id="main">
    <%= yield %>
  </div>
  
  </body>
</html>
